*~

# coq files
*.vo
*.v.d
*.glob
*.dv
*.aux

ocaml/_build/*
ocaml/setup.data
ocaml/setup.log
ocaml/_tags
ocaml/myocamlbuild.ml
ocaml/src/META
ocaml/opam/*
test/All_t.native

test/*.native
test/_build/*
test/coq_extracted/*
