*~

# coq files
*.vo
*.v.d
*.glob
*.dv
*.aux

ocaml/_build/*
ocaml/configure 
ocaml/Makefile 
ocaml/setup.* 
ocaml/_tags
ocaml/myocamlbuild.ml
ocaml/src/META

test/*.native
test/_build/*
test/coq_extracted/*
