*~

# coq files
*.vo
*.v.d
*.glob
*.dv
*.aux
coq/_CoqProject
coq/build.mk
coq/uninstall_me.sh
coq/html

ocaml/_build/*
ocaml/setup.data
ocaml/setup.log
ocaml/opam/*
test/All_t.native

test/*.native
test/_build/*
test/coq_extracted/*
